:root {
    --primary-color: #fc6101;
    --secondary-color: rgb(220, 220, 220);

}

.orders {
    width: 100%;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    /* height: 90vh; */
    width: 87vw;
    background-color: white;
    border-radius: 10px;
    margin: 20px 34px 20px 105px;
    box-shadow: 10px 10px 20px #cacaca, -10px -10px 20px #cacaca;

}

.container {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
}

.leftRIght {
    display: flex;
    justify-content: space-between;
}


.uperBorder {
    /* height: 50px; */
    border-radius: 10px 10px 0px 0px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 15px 0;

}

.uperBorder span {
    font-weight: 500px;
    margin: 0px 15px;

}

.containerLeft {
    width: 30%;
}

.containerLeft>p {
    margin: 0;
    font-weight: bold;
}

.containerLeft h2 {
    margin-top: 0;
}

h2>span {
    color: var(--primary-color);
}




/* COLOR - SIZE COntainer -Style ------------------------ */


.colorDiv,
.sizeDiv {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.colorDiv p,
.sizeDiv p {
    margin: 0;
    font-weight: bold;
}

.sizeInnerDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sizeInnerDiv a {
    font-size: 13px;
    color: var(--primary-color);
}

.colorBox {
    display: flex;
}

.sizeBox {
    display: flex;
}

.box {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid;
    margin: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.boxRed {
    background-color: red;
}

.boxGreen {
    background-color: green;
}

.boxBlack {
    background-color: black;
}

.boxOrange {
    background-color: orangered;
}

.boxYellow {
    background-color: yellow;
}

.boxBlue {
    background-color: blue;
}

.boxPink {
    background-color: pink;
}

.boxSkyBlue {
    background-color: rgb(0, 175, 245);
}

.boxDarkBlue {
    background-color: rgb(0, 0, 39);
}

.boxDarkGray {
    background-color: rgb(87, 87, 87);
}

/* IN STOCK ------------------------------------------>>>>> */

.inStock {
    background-color: var(--secondary-color);
    padding: 7px;
    border-radius: 17px;
    width: 85px;
    display: flex;
    justify-content: center;
}

/* Radion button for type of T-shirt */



.TshirtType {
    margin: 18px 0;
}

.TshirtType input {
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);
}

.TshirtType label {
    margin-right: 5px;
    font-weight: bold;
}


/* Uploaded Design COntainer */

.DesignImage {
    display: flex;
    flex-direction: column;
}

.uploadedDesign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60%; */
    /* position: relative; */

}

.uploadedDesign img {
    width: 88px;
    height: 88px;
    border-radius: 18px;
}

.chooseFile {
    position: relative;
    width: 120px;
}

.chooseFile input {
    width: 120px;
    opacity: 0;
    background: none;
    border: none;
    z-index: 2;

}

.chooseFile p {
    cursor: pointer;
    position: absolute;
    top: -15px;
    left: 0;
    color: var(--primary-color);
}


.uploadedDesign .DeleteImg {
    width: 23px;
    height: 30px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all 200ms linear;
    box-sizing: border-box;
}

.DeleteImg:hover {
    box-shadow: 10px 10px 20px gainsboro;
}



/* =----------------------------------------------------- */

.designWidth,
.designPosition,
.designAginment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.designWidth p,
.designPosition p,
.designAginment p {
    font-weight: bold;
}

.size {
    display: flex;
}

.sizeInputBox {
    display: flex;
    align-items: center;
    border: 1px solid var(--secondary-color);
    position: relative;
    padding: 12px 5px;
    border-radius: 10px;
    margin: 0px 6px;
}

.sizeInputBox p {
    position: absolute;
    top: 10px;
    background-color: white;
    position: absolute;
    top: -27px;
    left: 14px;
    margin: 16px 5px;
    padding: 0 8px;
    font-weight: normal;
}

.sizeInputBox input {
    width: 90px;
    margin: 0px 5px;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
}

.alignmentImage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
}

.alignmentImage img {
    margin: 0px 10px;
    cursor: pointer;
}




/* ====================== Upload Button at botton  ============================= */

.uploadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc6101;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: 693;
    outline: none;
    padding: 0px 38px;
    transition: all .1s ease-in-out;
    position: relative;
    font-size: 15px;
}

.uploadBtn:hover {
    background-color: #c74c00;
}

.uploadBtn input {
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: visible;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.uploadBtn img {
    height: 16px;
    margin-right: 10px;
}

.uploadBtn input {
    border: none;
    background-color: none;
}

.fileInput {
    visibility: hidden;
    display: none;
}

/* ============ Right Container CSS ==================================== */

.containerRIght {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shirtPosition {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shirtPosition p {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 2px 0 10px 0px;
    margin: 0 0 30px 0;
    border-bottom: 1px solid;
    width: 100%;
    text-align: center;
}

.tshirtImage {
    position: relative;
}

.print {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 22%;
    left: 32%;
    height: 40%;
    width: 34%;
    padding: 10px;
    box-sizing: border-box;
    top: 20%;
    left: 32%;
    height: 40%;
    width: 34%;
    overflow: hidden;
    border-radius: 10px;
}

.tshirtImage img {
    width: 100%;
    height: 100%;
}

.print img {
    width: 90%;
    height: 90%;
    margin-top: 0;
    margin-left: 0;
    border-radius: 10px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.proceedBack {
    display: flex;
}

.proceedBack button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 693;
    outline: none;
    margin: 0px 10px;
    transition: all .1s ease-in-out;
    position: relative;
    /* font-size: 15px; */
}

.btnBack {
    background-color: rgb(187, 187, 187);
    color: black;
    transition: all 500ms ease-in-out;
    padding: 15px 26px;
}

.btnBack:hover {
    background-color: rgb(168, 168, 168);
}

.btnBack p {
    margin: 0 5px;
}

.btnProceed {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 30px;
}

.btnProceed:hover {
    background-color: #c74c00;
}





/* Media Querries =---------------------------------------------- */

@media screen and (max-width: 2600px) {
    .proceedBack button {
        font-size: 15px;
    }


}



@media screen and (max-width: 1559px) {
    .containerLeft {
        width: 31%;
    }

}


@media screen and (max-width: 1472px) {
    .containerLeft {
        width: 33%;
    }
}


@media screen and (max-width: 1388px) {

    .containerLeft {
        width: 35%;
    }
}


@media screen and (max-width: 1351px) {
    .containerLeft {
        width: 37%;
    }
}


@media screen and (max-width: 1282px) {
    .containerLeft {
        width: 40%;
    }

}


@media screen and (max-width: 1196px) {
    .containerLeft {
        width: 44%;
    }

    .tshirtImage img {
        width: 390px;
        height: 400px;
    }

    .print img {
        width: 90%;
        height: 90%;
    }

    .designPosition {
        margin: 30px 0 20px 0
    }

    .designWidth {
        margin: 30px 0 20px 0
    }
}


@media screen and (max-width: 1105px) {
    .containerLeft {
        width: 48%;
    }

    .tshirtImage img {
        width: 356px;
        height: 370px;
    }

    .print img {
        width: 90%;
        height: 90%;

    }

}

@media (max-width:1033px) {
    .buttons {
        padding: 0 5%;
    }
}


@media (max-width:1001px) {

    .ordersContainer {
        width: 90%;
        margin: 20px 0px;
    }

}

@media screen and (max-width:500px) {

    .ordersContainer {
        width: 95%;
    }
}

@media screen and (max-width :1032px) {

    .leftRIght {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerLeft {
        width: 90%;
    }

    .containerLeft {
        margin-bottom: 30px;
    }

    .containerRIght {
        width: 90%;
    }

    .shirtPosition p {
        border-bottom: 2px solid;
        ;
    }

    .tshirtImage {
        width: 80%;
        /* height: 80%; */
    }

    .tshirtImage img {
        width: 100%;
        height: 80%;
    }

    .proceedBack {
        font-size: 14px;
    }

    .uploadBtn {
        font-size: 14px;
        padding: 0px 11px;
    }

    .uploadBtn img {
        height: 12px;
    }

    .btnBack {
        font-size: 14px;
        padding: 12px 20px;
    }

    .btnProceed {
        font-size: 14px;
        padding: 12px 20px;
    }

    .proceedBack button {
        font-size: 14px;
        margin: 0px 8px;
    }

}

@media screen and (max-width:850px) {
    .containerLeft {
        width: 90%;
    }

    .containerRIght {
        width: 90%;
    }

    .uploadBtn {
        font-size: 12px;
        padding: 0px 11px;
    }

    .uploadBtn img {
        height: 10px;
    }

    .btnBack {
        font-size: 12px;
        padding: 8px 12px;
    }

    .btnProceed {
        font-size: 12px;
        padding: 8px 12px;
    }

    .proceedBack button {
        font-size: 12px;
        margin: 0px 6px;
        padding: 10px 8px;
    }

    .btnBack img {
        width: 18px;
    }
}

@media screen and (max-width:770px) {
    .containerLeft {
        width: 90%;
    }

    .containerRIght {
        width: 90%;
    }


    .uploadBtn {
        font-size: 10px;
        padding: 0px 9px;
    }

    .uploadBtn img {
        height: 8px;
    }

    .btnBack {
        font-size: 8px;
        padding: 7px 10px;
    }

    .btnProceed {
        font-size: 8px;
        padding: 7px 10px;
    }

    .proceedBack button {
        font-size: 12px;
        margin: 0px 5px;
        padding: 10px 6px;
    }
}


@media screen and (max-width:660px) {
    .container {
        font-size: 13px;
    }

    .proceedBack button {
        font-size: 12px;
        margin: 0px 3px;
        padding: 10px 6px;
    }
}

@media screen and (max-width:599px) {
    .containerRIght {
        font-size: 11px;
    }

    .proceedBack button {
        font-size: 11px;
        margin: 0px 2px;
        padding: 10px 6px;
    }

}

@media screen and (max-width:509px) {
    .container {
        font-size: 10px;
    }

    .proceedBack button {
        padding: 10px 6px;
    }
}

@media screen and (max-width:485px) {

    .container {
        padding: 25px 0px;
    }

    .designWidth,
    .designPosition,
    .designAginment {
        flex-direction: column;
    }

    .designWidth p,
    .designPosition p,
    .designAginment p {
        font-size: 15px;
    }

    .buttons {
        flex-direction: column;
    }

    .uploads {
        padding: 10px 0px;
    }

    .uploadBtn {
        padding: 2px 40px;
        font-size: 14px;
    }

    .uploadBtn img {
        height: 14px;
    }

    .proceedBack button {
        padding: 14px 30px;
        font-size: 14px;
    }

    .sizeInputBox {
        padding: 12px 3px;
    }


}

@media screen and (max-width:300) {
    h2 {
        font-size: 14px;
    }
}