.root{
   --height-img : 40px; 
   --width-img : 40px; 
}

.nav{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    box-shadow: 2px 0 10px rgba(0,0,0,.8);
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
    padding-left: 105px;
}

.left-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    background-color: #f6f9fa;
    height: 22px;
    border-radius: 15px;
    padding: 1rem 0 1rem 0.3rem;
    width: 48vw;
    border: none;
}


.left-nav input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 50vw;
    background: none;
    color: #323232;
}

.left-nav img{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    margin-left: 8px;
    margin-right: 24px;
}


.right-nav{
    display: flex;
}


.notification, .user, .cash{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    cursor: pointer;
}

.cash *{
    margin: 0px 5px;
}
.user *{
    margin: 0px 2px;
}
.font-bold{
    font-weight: bold;
}
.notification *{
    margin: 0px 5px;
}

.user img{
    border-radius: 50%;
    height: var(--height-img );
    margin: 17px 17px 17px 0;
    width: var(--width-img );
}

.notification{
    position: relative;
}
.bell-icon-count{
    position: absolute;
    top: 15px;
    background-color: #f97316;
    border-radius: 100%;
    width: 20px;
    height: 22px;
    display: flex;
    justify-content: center;
    left: 12px;
}

/* .hambuger{
    display: none;
} */

/* RESPONSIVNESS */


@media screen and (max-width: 1230px){
    .nav{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .user{
        display: none;
    }
    .bell-icon-count{
        top:-13px;
    }
}

@media screen and (max-width:600px) {
    .left-nav{
        background: none;
    }
    .left-nav input{
        display: none;
    }

}
    