.side-var{
    position: absolute;
    top: 0;
    z-index: 2000;
    overflow: hidden;
    width: 90px;
    background-color: #00273e;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 250ms linear;
    z-index: 500px;
    border-radius: 0px 13px 13px 0px;
}


.side-var:hover{
    width: 288px;
}

.company-logo{
    width: 288px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo p{
    margin-left: 35px;
    padding-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: all 1s linear;
    font-size: 25px;
}

.company-logo p:hover{
    color: #f97316;
}

.company-logo img{
    width: 175px;
    height: 78px;
    margin: 2rem 1rem;
}


/* ListItems  CSS--------------------------------- */

.listItem{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition:all 300ms linear;
    margin-left: 34px;
    color: white;
    margin-top: 12px;
    border-radius: 30px 0px 0px 30px;
}


.listItem:hover{
    background-color: #fc6101;
    color: 'white';
}


.listItem img{
    width: 14px;
    padding: 0px 15px 0px 20px;
}

img:hover{
color: #f97316;
}    

.listItem *{
    cursor: pointer;
}

.listItem p{
    -webkit-transform-origin: left;
    margin-left: 10px;
    font-weight: bold;
    flex-shrink: 10;
    overflow: hidden;
    transform-origin: left;
    transition: all .2s linear;
}




/* @media screen and (max-width: 1400px) {
    
    .side-var{
        display: none;
    }
  
  } */


