.side-var{
    width: 18vw;
    background-color: #00273e;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: all 500ms linear;
    z-index: 500px;
}

/* .side-var:hover{
    width: 20vw;
} */

.company-logo{
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo p{
    margin-left: 35px;
    padding-bottom: 20px;
    color: white;
    cursor: pointer;
    /* display: none; */
    transition: all 1s linear;
}
.company-logo p:hover{
    color: #f97316;
}

.company-logo img{
            width: 175px;
            height: 78px;
}