.side-var{
    position: absolute;
    top: 0;
    z-index: 2000;
    overflow: hidden;
    width: 75px;
    background-color: #00273e;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: all 200ms linear;
    z-index: 500px;
    transform-origin:left;
    border-radius: 0px 13px 13px 0px;
    white-space: nowrap !important;
}

.side-var:hover {
    width: 288px;
}

.company-logo{
    width: 288px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo p{
    margin-left: 35px;
    padding-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: all 1s linear;
    font-size: 25px;
}


.company-logo p:hover{
    color: #f97316;
}

.company-logo img{
    width: 175px;
    height: 78px;
    margin: 2rem 1rem;
}


/* ListItems  CSS--------------------------------- */

.listItem{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 30px 0px 0px 30px;
    height: 50px;
    margin: 37px 0px 37px 5px;
    text-decoration: none;
    margin-top: 0;
    position: relative;
    transition: all 100ms linear;
}

.listItem:hover{
    color: #fc6101;
}

img:hover{
color: #f97316;
}

.listItem *{
    cursor: pointer;
}

.listItem p{
    -webkit-transform-origin: left;
    margin-left: 10px;
    font-weight: 700;
    flex-shrink: 10;
    overflow: hidden;
    transform-origin: left;
    transition: all 200ms ease-in;
    transform-origin: left;
    transform: scale(0);
    white-space: nowrap !important;
}


.listItem p:hover{
    transform: scale(1);
}

.activeLink{
    background-color: white;
    color: #00273e;
}

.activeLink b{
    visibility: visible;
}

.MuiSvgIcon-root {
    width: 0;
}

.Icon{
    width: 20px;
    height: 20px;
    margin: 0px 10px 0 24px;
}

.listItem svg{
    width: 20px;
}

.uperBox{
    width: 10px;
    height: 10px;
    width: 100%;
    position: absolute;
    height: 20px;
    background: white;
    top: -20px;
    left: 0;
    visibility: hidden;
}

.uperBox::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #00273e;
}


.lowerBox{
    width: 100%;
    position: absolute;
    height: 20px;
    background: white;
    bottom: -20px;
    left: 0;
    visibility: hidden;
}

.lowerBox::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #00273e;
}
